
<html>

<head>
    <title>Bridging Coursework</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

</head>

<body>
    <div>
        <h1><a href="/"><u>19-20 CS Blog</u></a></h1>
    </div>
    <br>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% for post in posts %}
                <div class="post">

                    <h2><a href="">{{ post.title }}</a></h2>
                    <div class="date">
                        <h6>published: {{ post.published_date }} by {{ post.author }}</h6>
                    </div>
                    <p>{{ post.text|linebreaksbr }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>

</html>